<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NWCProject.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NWCProject.MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header >
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 text-center   ">
            <div class=" container   ">
                <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index">تسجيل فواتير استهلاك المياه</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
              
            </div>
        </nav>
    </header>
    <div >
        <main role="main" class="pb-4">
            <div class="container">
  <div class="row">
       <div class="col-sm   ">
   
     @RenderBody()  
    
    </div>
   
    <div class="col-sm-3  ">
   <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between float-end">
                    <ul class="navbar-nav flex-grow-1 ">
                        <li class="nav-item p-2">
                            <a class="nav-link text-dark"  asp-controller="Subscriber" asp-action="Add">تحديث بيانات مشترك</a>
                        </li>
                        <li class="nav-item p-2">
                            <a class="nav-link text-dark"  asp-controller="EstateTypes" asp-action="Add">تحديث بيانات نوع العقار</a>
                        </li>
                        <li class="nav-item p-2">
                            <a class="nav-link text-dark"  asp-controller="Subscription" asp-action="Add">تحديث بيانات الاشتراك</a>
                        </li>
                         <li class="nav-item p-2">
                            <a class="nav-link text-dark"  asp-controller="Invoices" asp-action="Add">تسجيل الفاتورة</a>
                        </li>
                         <li class="nav-item p-2">
                            <a class="nav-link text-dark"  asp-controller="Subscriber" asp-action="Get">تقرير عن المشتركين</a>
                        </li>
                          <li class="nav-item p-2">
                            <a class="nav-link text-dark"  asp-controller="Subscription" asp-action="GetList">تقرير عن الاشتراكات</a>
                        </li>
                         <li class="nav-item p-2">
                            <a class="nav-link text-dark"  asp-controller="Invoices" asp-action="GetList">تقرير الفواتير</a>
                        </li>
                    </ul>
                </div>
    </div>
   
    @*<div class="col-sm-6">  

  </div>*@
</div>
                  
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - NWCProject.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
